<header>
    <h1> this is head </h1>
    <% if (locals.user) { %>
        <ul> 
        <li>
            <%= user.name %>
        </li>
        <l1>
            <a href = "/users/sign_out">Sign Out</a>
        </l1>
        </ul>
    <% } else{ %>
        <ul>
        <l1>
            <a href = '/users/sign_in'> Sign In</a>
        </l1>
        <l1>
            <a href = '/users/sign_up'>Sign Up</a>
        </l1>
        </ul>
    <% } %>
</header>
